<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435332765331-vudl9oc4n0063f8necrl7f5almleafle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435332765331-vudl9oc4n0063f8necrl7f5almleafle</string>
	<key>API_KEY</key>
	<string>AIzaSyCeOn0eIx6q4hkNzstyPqD82fHw7Gwst9M</string>
	<key>GCM_SENDER_ID</key>
	<string>435332765331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ieee.social</string>
	<key>PROJECT_ID</key>
	<string>social-2bfe5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-2bfe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435332765331:ios:782d08fa5cfcff4205df66</string>
</dict>
</plist>